* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: #000005;
}

/* Estilização da caixa de informação */
#info-box {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    /* Transição para aparecer e desaparecer suavemente */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
    pointer-events: none; /* Para não interferir com o clique no canvas */
}

#info-box.hidden {
    opacity: 0;
    visibility: hidden;
}